footer {
  position: relative;
  background-color: #8B5E3C;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.Footer-icon {
  height: 60px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.Footer-icon:hover {
  transform: scale(1.1) rotate(3deg);
  filter: drop-shadow(0 0 8px rgba(255, 182, 193, 0.7));
}

.redes-lista {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.red a {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  transition: transform 0.2s ease;
}

.red a:hover {
  transform: translateY(-3px);
}

.red img {
  width: 24px;
  height: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-links a {
  color: #FFF1E6;
  font-size: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.veri-sitio {
  bottom: 5px;
  right: 10px;
  color: #FFF1E6;
  font-size: 10px;
}

@media (max-width: 600px) {
  .comentarios-box form {
    flex-direction: column;
    align-items: stretch;
  }
}